# DO NOT USE NOTEPAD TO EDIT CONFIG FILES! USE NOTEPAD++ OR ANOTHER TEXT EDITOR INSTEAD!
# Uncomment a line when you want to change its default value (Remove # at the beginning)
# Please ensure to leave a space after the colon if a value is needed ("example-setting" "example-setting-with: value")
# When your configuration is done, rename this file by removing the ".example" extension


# Database Settings

#####################################


host: localhost
user: rocketmapuser
database: rocketmapdb
password: rocketmappassword
port:3306
